header{
    background-color: rgb(134, 128, 128);
    height: 10svh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
header nav{
    width: 100%;
}
header ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}
header a{
    color: black;
}
.active{
    border-bottom: 3px solid red;
}